* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6d6d6d;
  --sec-color: #efefef;
  --button-color: #300000;
}

body {
  font-size: 18px;
  background-color: var(--primary-color);
}

header {
  box-shadow: 1px 2px 2px var(--sec-color), -1px -2px 2px var(--sec-color);
}
